@include "fonts.css"

body, html
{
	font-family: 'DejaVu Sans';
}

#title
{
	font-size: 70px;
	text-align: center;
	padding-top: 50px;
	color: #FFA500;
}

.subtitle
{
	padding-top: 20px;
	font-size: 20px;
	color: #7F7F7F;
}

#container
{
	padding-top: 10px;
	padding-bottom: 70px;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

#container p
{
	font-size: 16px;
	padding-top: 10px;
	color: #6F6F6F;
	margin:0 0 10px;
}

.shady
{
	color: #E1E1E1;
}

#img
{
	height: auto;
	width: 50%;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 20px;
}

.critical
{
	color: #D3545D;
}

ul
{
	color: #6F6F6F;
	font-size: 16px;
	list-style-type: none;
}

ul.bugs > li:first-child
{
	font-size: 18px;
	padding-bottom: 10px;
}

.menu
{
	padding-top: 30px;
	text-align: center;
}

.menu	a
{
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
}

.menu	a:hover
{
	transition: 1s;
	background: #4E4E4E;
	color: #fff;
}
