@font-face 
{ 
	font-family: 'Alanesiana';
	src: url("fonts/Alanesiana Regular.ttf") format('truetype'); 
}

@font-face 
{ 
	font-family: 'Daedric';
	src: url("fonts/Daedra.otf") format('opentype'); 
}

@font-face
{
	font-family: 'DeJaVu-Sans';
	src: url("fonts/DejaVuSans.ttf") format('truetype'); 
}

html, body
{
	font-family: 'DeJaVu-Sans', sans;
}

.specialfont
{
	font-family: "Alanesiana";
}

.daedric
{
	font-family: "Daedric";
}
