/*
 *
 * Template Name: Produkta
 * Template URI: http://azmind.com
 * Description: Produkta - Responsive Product Showcase
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */
 
 /*
  * 
  * Cleanup template because it's fucking catastrophe
  * There was been SO MANY GARBAGE
  * I hate web2.0
  * -- Volk_Milit
  * 
  * */


body 
{
    background: #f5f5f5; /*here was jpg, what a fuck you're doing?! No more useless shit*/
    border-top: 2px solid #FFA500;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-align: left;
}

/* -- Volk_Milit -- */

body, html
{
	margin:0; padding:0; height:100%; width:100%;
}

#zaglushka
{
	background-color: #fff;
	height:100%;
	width:100%;
	overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#zaglushka h1
{
	padding-top: 10%;
}

.justify {text-align: justify;}

blockquote { border-left: 2px solid #ff0000;}

.navbar { background-color: #2d2d2d;     box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2); }
.navbar a { color: #C6C6C6; }

strong { font-weight: 700; color: #FFA500; }

a {color: #808FFF; transition: .2s;}
.product-showcase a {color: #A5B0FF; transition: .2s;}
a:hover { text-decoration: none; color: #FFA500; }

.bugs ul > li
{
	padding-top: 30px;
	color: #000;
}

.bugs li .br
{
	padding-top: 10px;
	color: #757575;
	border-bottom: 1px solid #E5E5E5;
}

td, tr
{
	padding: 10px;
	border: 1px solid #E5E5E5;
}

.faq p
{
	border-bottom: 1px solid #E5E5E5;
	padding-top: 10px;
}

hr
{
	border: 0;
	margin: 30px auto;
	width: 30%;
	border-bottom: 1px dashed #ccc;
}

.features ul
{
	list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 30px;
}

.features li
{
	padding-top: 10px;
}

/* -- Anli Zaimi -- */

.product-background h3 {color: white;}

.logo h2 { margin-top: 7px; padding-left: 50px; font-size: 28px; font-weight: 400; color: #555; text-transform: uppercase; }

.logo a 
{
    display: inline-block;
    width: 166px;
    height: 33px;
    margin-top: 10px;
    background: url(../img/logo.png) left top no-repeat;
}

.tel-skype p 
{
    margin-top: 18px;
    padding-right: 50px;
    text-align: right;
    line-height: 30px;
}

.tel-skype i 
{
    font-size: 20px;
    vertical-align: middle;
}

.tel-skype .pipe { margin: 0 7px 0 5px; color: #ccc; }

::-moz-selection { background: #E39200; color: #fff; text-shadow: none; }
::selection { background: #E39200; color: #fff; text-shadow: none; }


/***** Product Showcase *****/

.product-showcase
{
    margin: 0 auto;
    background: #2d2d2d;
}

.product-showcase-pattern
{
   margin: 0 auto;
   background-image: url(../img/back.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.product-background
{
   /*background: #2d2d2d; /* browsers that don't support rgba */
   /*background: rgba(45,45,45,.5);*/
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
	padding-bottom: 55px;
}

.product-title 
{
    margin: 25px 0 0 0;
    transition: all 1s;
}

.product-title h1 
{
    padding-right: 40px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 58px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-title div.product-description 
{
    margin-top: 20px;
    padding-right: 40px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-title div.product-description h3 
{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

a.buy-it-now 
{
    display: inline-block;
    padding: 15px 55px 12px 45px;
    margin-top: 20px;
    background: #CC8400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #9E6600;
    -moz-box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    color: #fff;
    line-height: 22px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

a.buy-it-now i { padding-right: 10px; font-size: 28px; vertical-align: middle; }

a.buy-it-now:hover 
{
    color: #fff;
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
}

a.buy-it-now:active 
{
    -moz-box-shadow:
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    -webkit-box-shadow:
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    border: 0;
}

.product-image 
{
    margin-top: 55px;
    text-align: center;
    transition: all 1s;
}

/***** Content *****/

.features_2 
{
    margin-top: 40px;
}

.features_2 h3 
{
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.features_2 p 
{
    line-height: 30px;
}

.features_2 .single-feature { width: 340px; margin-bottom: 15px; transition: all 1s; }

.features_2 .single-feature-bottom { margin-bottom: 0; }

.features_2 .features-left-span { margin-left: 80px; }

.features_2 .single-feature:hover i { color: #CC8400; }

.features_2 .feature-icon 
{
    float: left;
    text-align: center;
}

.features_2 .feature-icon i 
{
    display: inline-block;
    width: 55px;
    margin-top: 13px;
    font-size: 50px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.features_2 .feature-text 
{
    float: left;
    width: 265px;
    margin-left: 20px;
}

.features_2 .feature-text h4 { font-size: 24px; font-weight: 400; line-height: 28px; }


.gallery_2 
{
    margin-top: 40px;
}

.gallery_2 h3 
{
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.gallery_2 p 
{
    margin-left: 50px;
    margin-right: 40px;
    line-height: 30px;
}

.gallery_2 .gallery-images 
{
    margin: 15px 40px 25px 50px;
}

.gallery_2 .gallery-images .img-wrapper 
{
    position: relative;
    display: inline-block;
    margin: 13px 10px 0 0;
    cursor: pointer;
}

.gallery_2 .gallery-images .img-background 
{
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    z-index: 100;
    background: #518d8a url(../img/pattern-2.png); /* browsers that don't support rgba */
    background: rgba(81,141,138,.8) url(../img/pattern-2.png);
    text-align: center;
}

.gallery_2 .gallery-images .img-background i 
{
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.gallery_2 .gallery-images img 
{
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

/***** Footer *****/

footer 
{
    margin-top: 60px;
    padding: 30px 0;
    background: #2d2d2d;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    color: #aaa;
}

footer h3 
{
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

footer p { line-height: 30px; }

footer a 
{
    color: #ddd;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
footer a:hover { color: #aaa; }

.social-links
{
    text-align: center;
}

.center
{
    text-align: center;
}

.copyright 
{
    margin-top: 20px;
    text-align: center;
}

/* Using this */
.using-this {
    margin-top: 35px;
    text-align: center;
}

.using-this h3 {
    margin: 0 40px 40px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
    text-align: left;
}

.using-this-container {
    text-align: center;
}

.using-this-container a {
    display: inline-block;
    width: 185px;
    height: 77px;
    margin: 5px;
    background: #f8f8f8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.using-this-container a.using-this-vkontakte { background-image: url(../img/clients/vk.png); }
.using-this-container a.using-this-youtube { background-image: url(../img/clients/youtube.png); }
.using-this-container a.using-this-discord { background-image: url(../img/clients/discord.png); }
.using-this-container a.using-this-tumblr { background-image: url(../img/clients/tumblr.png); }

.using-this-container a.using-this-vkontakte:hover { background-image: url(../img/clients/vk-hover.png); }
.using-this-container a.using-this-youtube:hover { background-image: url(../img/clients/youtube-hover.png); }
.using-this-container a.using-this-discord:hover { background-image: url(../img/clients/discord-hover.png); }
.using-this-container a.using-this-tumblr:hover { background-image: url(../img/clients/tumblr-hover.png); }


/***** Media Queries *****/

@media (min-width: 980px) and (max-width: 1200px) {

    .product-image { text-align: right; }

    .product-image img { width: 95%; }

    a.buy-it-now:active { border: 1px solid transparent; }

    .features_2 .single-feature { width: 270px; }

    .features_2 .features-left-span { margin-left: 70px; }

    .features_2 .feature-icon i { width: 38px; font-size: 35px; }

    .features_2 .feature-text { width: 217px; margin-left: 15px; }

    .gallery_2 .gallery-images .img-background { width: 90px; height: 90px; }

    .gallery_2 .gallery-images .img-background i { font-size: 38px; line-height: 90px; }

    .gallery_2 .gallery-images img { width: 90px; }

    .contact-us form button { margin-left: 138px; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .product-image { text-align: right; }

    .product-image img { width: 95%; }

    a.buy-it-now:active { border: 1px solid transparent; }

    .features_2 .single-feature { width: 198px; }

    .features_2 .features-left-span { margin-left: 70px; }

    .features_2 .feature-icon i { width: 30px; font-size: 27px; }

    .features_2 .feature-text { width: 158px; margin-left: 10px; }

    .gallery_2 .gallery-images .img-background { width: 90px; height: 90px; }

    .gallery_2 .gallery-images .img-background i { font-size: 38px; line-height: 90px; }

    .gallery_2 .gallery-images img { width: 90px; }

    footer h3, .testimonials p, .from-twitter .show-tweet, .contact-us form, .contact-us p { margin-left: 0; }

    .contact-us p { margin-right: 0; }

    .testimonials .test-author { padding-left: 0; }

    .contact-us form input, .contact-us form textarea { width: 87%; }

    .contact-us form button { margin-left: 149px; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo h2 { padding-left: 0; text-align: center; }

    .tel-skype p { margin-bottom: 11px; padding-right: 0; text-align: center; }

    /*.product-background { width: 90%; margin-left: auto; margin-right: auto; }*/

    .product-image { display: none; }

    .product-title h1, .product-title div.product-description { padding-left: 40px; }

    .product-title div.call-to-action { text-align: center }

    a.buy-it-now:active { border: 1px solid transparent; }

    .about-us_2 h3, .features_2 h3, .gallery_2 h3, .about-us_2 h5 { margin-left: 50px; margin-right: 50px; }

    .about-us_2 p, .gallery_2 p { margin-left: 50px; margin-right: 50px; }

    .features_2 .feature-icon { display: none; }

    .features_2 .single-feature { width: 100%; margin-bottom: 0; }

    .features_2 .features-left-span { margin-left: 0; }

    .features_2 .feature-icon i { width: 30px; font-size: 30px; }

    .features_2 .feature-text { float: none; width: auto; margin-left: 50px; margin-right: 50px; }

    .features_2 .feature-text h4 { line-height: 36px; }

    .gallery_2 .gallery-images { margin-right: 50px; }

    .gallery_2 .gallery-images .img-background { width: 90px; height: 90px; }

    .gallery_2 .gallery-images .img-background i { font-size: 38px; line-height: 90px; }

    .gallery_2 .gallery-images img { width: 90px; }

    .using-this { margin-top: 40px; }

    .using-this h3 { margin-left: 50px; margin-right: 50px; }

    footer { padding-top: 0; }

    footer h3 { margin-top: 40px; }

    footer h3, .testimonials p, .from-twitter .show-tweet, .contact-us form, .contact-us p, .copyright p { margin-left: 50px; margin-right: 50px; }

    .testimonials .test-author { padding-left: 50px; padding-right: 50px; }

    .contact-us form input, .contact-us form textarea { width: 87%; }

    .contact-us form button { margin-left: 0; }

    .social-links { margin-top: 45px; }

}


