/*
 *
 * Template Name: Produkta
 * Template URI: http://azmind.com
 * Description: Produkta - Responsive Product Showcase
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */
 
 /*
  * 
  * Cleanup template because it's fucking catastrophe
  * There was been SO MANY GARBAGE
  * I hate web2.0
  * -- Volk_Milit
  * 
  * */

@include "fonts.css"

*
{
	text-align: justify;
}

body 
{
    background: #F0F0F0; /*here was jpg, what a fuck you're doing?! No more useless shit*/
    font-family: 'DeJaVu-Sans', sans;
    font-size: 16px;
    font-weight: 400;
    color: #555;
}

/* -- Volk_Milit -- */

body, html
{
	margin:0; padding:0; height:100%; width:100%;
}

blockquote { border-left: 2px solid #ff0000;}

.navbar { background-color: #2d2d2d;     box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2); }
.navbar a { color: #C6C6C6; }

strong { color: #2D2D2D; }

a {color: #808FFF; transition: .2s;}
.product-showcase a {color: white; transition: .2s;}
a:hover { text-decoration: none; color: #FFA500; }

td, tr
{
	padding: 10px;
	border: 1px solid #E5E5E5;
}

hr
{
	border: 0;
	margin: 30px auto;
	width: 30%;
	border-bottom: 1px dashed #ccc;
}

.features ul
{
	list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 30px;
}

.features li
{
	padding-top: 10px;
	/*transition: all 1s;
	margin-left: -1000px;*/
}

/***** Content *****/

.features_2 
{
    margin-top: 40px;
}

.features_2 h2
{
	border-bottom: 1px dotted #aaa;
	margin: 0 40px 30px 0;
	padding: 0 0 10px 0;
}

.features_2 h3 
{
    font-weight: 400;
    color: #2d2d2d;
}

.features_2 p 
{
    line-height: 30px;
}

.features_2 .single-feature { width: 340px; margin-bottom: 15px; transition: all 1s; margin-top: 1000px; }

.features_2 .single-feature-bottom { margin-bottom: 0; }

.features_2 .features-left-span { margin-left: 80px; }

.features_2 .single-feature:hover i { color: #CC8400; }

.features_2 .feature-text 
{
    float: left;
    width: 265px;
    margin-left: 20px;
}

.features_2 .feature-text h4 { font-size: 24px; font-weight: 400; line-height: 28px; }

/***** Product Showcase *****/

.product-showcase
{
    margin: 0 auto;
    background: #2d2d2d;
}

.product-showcase-pattern
{
   margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover; 
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.product-background
{
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
	padding-bottom: 10px;
}

.product-title 
{
    margin: 25px 0 0 0;
    transition: all 1s;
    margin-left: -1000px;
}

.product-title-h1
{
    font-size: 38px;
    font-weight: bold;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
    text-align: center;
    color: white;
    margin-top: 20px;
}

.product-title-h1::after
{
	background: rgba(255,255,255,0.4);
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	content: '';
	display: block;
	height: 2px;
	margin: 25px auto;
	width: 100px;
}

.product-title-h3
{	
   font: 400 16px/26px Lato, Verdana, Geneva, Tahoma, sans-serif, 'sans-serif';
   color: #fff;
   text-shadow: 0 1px 7px rgba(0,0,0,.2);
   text-align: center;
}

.product-image
{
	border: 1px solid white;
	border-radius: 5px;
	
	background: white;
	
	width: 10%;
	
	margin-top: 25px;

	/*center image*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img
{
	max-width: 70%;
	border: 3px solid;
	border-radius: 2px;
	
	/*center image*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

pre code
{
	color: #d14;
}

/***** Footer *****/

footer 
{
    margin-top: 60px;
    padding: 30px 0;
    background: #2d2d2d;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    color: #aaa;
}

footer h3 
{
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

footer p { line-height: 30px; }

footer a 
{
    color: #ddd;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
footer a:hover { color: #aaa; }

.center
{
    text-align: center;
}

.copyright 
{
    margin-top: 20px;
    text-align: center;
}

.container-blog
{
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
        
        	width: 70%;
}

.span12
{
	margin-left: 11.5%;
	width: 80%;
	height: auto;
	text-align: justify;
}

/***** Media Queries *****/

@media (min-width: 980px) and (max-width: 1200px) {

    .features_2 .single-feature { width: 270px; }

    .features_2 .features-left-span { margin-left: 70px; }

    .features_2 .feature-text { width: 217px; margin-left: 15px; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .features_2 .single-feature { width: 198px; }

    .features_2 .features-left-span { margin-left: 70px; }

    .features_2 .feature-text { width: 158px; margin-left: 10px; }

    footer h3, .testimonials p, .from-twitter .show-tweet, .contact-us form, .contact-us p { margin-left: 0; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .features_2 .feature-icon { display: none; }

    .features_2 .single-feature { width: 100%; margin-bottom: 0; }

    .features_2 .features-left-span { margin-left: 0; }

    .features_2 .feature-text { float: none; width: auto; margin-left: 50px; margin-right: 50px; }

    .features_2 .feature-text h4 { line-height: 36px; }

    .gallery_2 .gallery-images { margin-right: 50px; }

    .gallery_2 .gallery-images .img-background { width: 90px; height: 90px; }

    .gallery_2 .gallery-images .img-background i { font-size: 38px; line-height: 90px; }

    .gallery_2 .gallery-images img { width: 90px; }

    footer { padding-top: 0; }

    footer h3 { margin-top: 40px; }

    footer h3, .testimonials p, .from-twitter .show-tweet, .contact-us form, .contact-us p, .copyright p { margin-left: 50px; margin-right: 50px; }

}


